.button1 {
  position: relative;
  left: 79%;
  top: -42px;
}
span.b {
  float:  right;
  position: relative;
  left:  -12.5%;
  top: -60px;
  margin-right: 15px;
}
span.c {
  float:  right;
  position: relative;
  left:  -12.5%;
  top: -59px;
  margin-right: 15px;
}
input.a {
    float: left;
    margin: 0px 0px;
    /*width: 5%;
    height: 5%;
    margin-left: 10px;
    margin-top: 10px;*/
}
label.a {
    font-family:"Open Sans", san-serif, Arial;
    height: 2px;
    padding-bottom: 0px;
    margin-left: 12%;
    margin-top: 1.5%;
}
p.a {
    font-family:"Open Sans", san-serif, Arial;
    height: 2px;
    padding-bottom: 0px;
    margin-left: 0%;
    margin-top: 1.5%;
}
p.b {
  font-family:"Open Sans", san-serif, Arial;
  text-align: center;
}
p.c {
  font-family:"Open Sans", san-serif, Arial;
  text-align: center;
  margin-top: 15%;
}
hr.a {
  margin-top: 2%;
}
div.a {
  width: 300px;
  height: 225px;
  /*padding: 10px;*/
  border: 2px solid black;
  margin: 0;
  left: 10%;
}
